@model IEnumerable<Comestic.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="border_">

</div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Danh sách loại sản phẩm</h2>
        </div>
        <div class="col-3 offset-3 text-right ">
            <a asp-action="Create" class="btn btn-info"> <i class="fas fa-plus"></i>&nbsp; Thêm mới</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-info">
                    <th>
                       Tên loại sản phẩm
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            <partial name="_CreateButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p class="title-noavalible">Bạn chưa có loại sản phẩm nào!</p>
        }
    </div>

