@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<br />
<br />
<br />
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản này đã bị khoá, bạn hãy quay lại sau !</p>
</header>
