@page
@model LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Đăng xuất thành công.</p>
    <p>Đăng nhập lại để sử dụng dịch vụ của chúng tôi</p>
</header>