

    <div class="container">
        <div class="grid__row-2 showroom grid">
            <div class="label__product label__product--showroom">
                <h2 class="label__showroom">HỆ THỐNG CỬA HÀNG</h2>
                <div class="showroom__next__page">
                    <span class="showroom__next__page--left"><i class="fas fa-angle-left"></i></span>
                    <span class="showroom__next__page--right"><i class="fas fa-angle-right"></i></span>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-carousel ">
                    <div class="owl-carousel third-second owl-theme owl-loaded">
                        <div class="home__product__item--showroom">
                            <div class="home__product__img--showroom" style="background-image: url(https://i.imgur.com/c5DVbma.jpg);">
                                <div class="showroom--opacity">
                                </div>
                                <div class="showroom--title">
                                    <i class="fas fa-map-marker-alt address--icon address--icon--opcity"></i>
                                    <a href="" class="showroom--opacity--title">Số 71, Đường số 3, Cư Xá Đô Thành, P4, Quận 3,Hồ Chí Minh</a>
                                </div>
                            </div>
                            <p class="home__product__showroom--title">
                                CN1 Quận 3, TP Hồ Chí Minh
                            </p>
                        </div>
                        <div class="home__product__item--showroom">
                            <div class="home__product__img--showroom" style="background-image: url(https://i.imgur.com/uL3SJP0.jpg);">
                                <div class="showroom--opacity">

                                </div>
                                <div class="showroom--title">
                                    <i class="fas fa-map-marker-alt address--icon address--icon--opcity"></i>
                                    <a href="" class="showroom--opacity--title"> 79 Hai Bà Trưng, P.Diên Hồng, Tp.Pleiku,Tỉnh Gia Lai </a>
                                </div>
                            </div>
                            <p class="home__product__showroom--title">
                                CN2 TP Pleiku, Tỉnh Gia Lai
                            </p>
                        </div>
                        <div class="home__product__item--showroom">
                            <div class="home__product__img--showroom" style="background-image: url(https://i.imgur.com/c5DVbma.jpg);">
                                <div class="showroom--opacity">

                                </div>
                                <div class="showroom--title">
                                    <i class="fas fa-map-marker-alt address--icon address--icon--opcity"></i>
                                    <a href="" class="showroom--opacity--title">98B Phan Đăng Lưu, P.3, Q.Phú Nhuận, Quận 3,Hồ Chí Minh</a>
                                </div>
                            </div>
                            <p class="home__product__showroom--title">
                                CN3 Quận Phú Nhuận, TP Hồ Chí Minh
                            </p>
                        </div>
                        <div class="home__product__item--showroom">
                            <div class="home__product__img--showroom" style="background-image: url(https://i.imgur.com/SW9hIJi.jpg);">
                                <div class="showroom--opacity">
                                </div>
                                <div class="showroom--title">
                                    <i class="fas fa-map-marker-alt address--icon address--icon--opcity"></i>
                                    <a href="" class="showroom--opacity--title">152, Chùa Lộc, Quận Đống Đa, Hà Nội</a>
                                </div>
                            </div>
                            <p class="home__product__showroom--title">
                                CN4 Quận Đống Đa, Hà Nội
                            </p>
                        </div>
                        <div class="home__product__item--showroom">
                            <div class="home__product__img--showroom" style="background-image: url(https://i.imgur.com/SW9hIJi.jpg);">
                                <div class="showroom--opacity">
                                </div>
                                <div class="showroom--title">
                                    <i class="fas fa-map-marker-alt address--icon address--icon--opcity"></i>
                                    <a href="" class="showroom--opacity--title">152, Chùa Lộc, Quận Đống Đa, Hà Nội</a>
                                </div>
                            </div>
                            <p class="home__product__showroom--title">
                                CN4 Quận Đống Đa, Hà Nội
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>