
<div class="grid__row-1 ">
    <div class="content__row">
        <div class="background-opacity-cus">
        </div>
        <div class="label__product--customer">
            <div class="label__product no-margin-label">
                <h2 class="label__product__title">ý kiến khách hàng</h2>
            </div>
            <div class="slideshow">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner text-center">
                        <div class="carousel-item active  " data-interval="2000">
                            <img src="~/images/customer1.jpg" alt="Alternate Text" class="img--feedback" />
                            <div class="item-cus">
                                <h3 class="feedback--title">THANH NGÂN</h3>
                                <span class="feedback--content">
                                    Lần đầu mua sản phẩm rất sợ hàng nhái, nhưng khi dùng rồi mới cảm nhận được sản phẩm ok lắm ạ,dùng được hàng chính hãng
                                    mà còn được giá tốt. Lâu lâu shop có chương trình khuyến mãi. Mong shop bán nhiều mẫu mã hơn, đặc biệt sản phẩm từ Hàn Quốc,Nhật Bản...
                                </span>
                            </div>

                        </div>
                        <div class="carousel-item " data-interval="3500">
                            <img src="~/images/customer2.jpg" alt="" class="img--feedback">
                            <div class="item-cus">
                                <h3 class="feedback--title">YẾN NHI</h3>
                                <span class="feedback--content">
                                    Shop tư vấn nhiệt tình, giao hàng nhanh, đóng gói cẩn thận. Sản phẩm khỏi bàn rồi. Luôn ủng hộ shop, hi vọng shop không
                                    làm mình thất vọng shop tư vấn nhiệt tình, giao hàng nhanh, đóng gói cẩn thận.
                                </span>
                            </div>
                        </div>
                        <div class="carousel-item " data-interval="2000">
                            <img src="~/images/customer3.jpg" alt="" class="img--feedback">
                            <div class="item-cus">
                                <h3 class="feedback--title">MẬU THÙY</h3>
                                <span class="feedback--content">
                                    Hôm mình đặt nhầm sản phẩm, liên hệ lại shop, nhân viên hướng dẫn khá nhiệt tình và cụ thể làm mình thấy vô
                                    biết ơn lắm ạ, Thanks shop nhiều nhiều. Vân luôn ủng hộ shop.
                                    Hôm mình đặt nhầm sản phẩm, liên hệ lại shop,
                            </div>
                        </div>
                        <div class="carousel-item " data-interval="3000">
                            <img src="~/images/customer4.jpg" alt="" class="img--feedback">
                            <div class="item-cus">
                                <h3 class="feedback--title">NHUNG NHUNG</h3>
                                <span class="feedback--content">
                                    Mình mới biết đến shop chưa lâu, nhưng hiện tại đã dùng mỹ phẩm hầu hết của bên shop luôn rồi á, hài lòng bởi cách nhiệt tình của nhân viên,
                                    giá sản phẩm còn thấp hơn giá thị trường.
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>