
<div class="grid__row-3 ">
    <div class="policy">
        <ul class="policy__list">
            <li class="policy__item">
                <div class="policy--img">
                    <img src="~/images/icongiaohangnhanh.png" alt="">
                </div>
                <div class="policy__script--header">
                    <span class="policy__script--title">
                        GIAO HÀNG TOÀN QUỐC
                    </span>
                    <span class="policy__script">
                        Ship COD tất cả các tình thành
                    </span>
                </div>
            </li>
            <li class="policy__item">
                <div class="policy--img">
                    <img src="~/images/iconcamketchatluong.png" alt="">
                </div>
                <div class="policy__script--header">
                    <span class="policy__script--title">
                        CAM KẾT 100% HÀNG CHÍNH HÃNG
                    </span>
                    <span class="policy__script">
                        Sản phẩm đảm bảo chất lượng
                    </span>
                </div>
            </li>
            <li class="policy__item">
                <div class="policy--img">
                    <img src="/images/iconhotrotuvankhachhang.png" alt="">
                </div>
                <div class="policy__script--header">
                    <span class="policy__script--title">
                        HỖ TRỢ TƯ VẤN KHÁCH HÀNG
                    </span>
                    <span class="policy__script">
                        Hotline: 0902611297
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>